@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  font-family: 'Fredoka One', cursive;
  background-image: url("./assets/img/fondo.webp");
  background-size: cover;
}

.container{
  margin: 25px auto;
  width: 60%;
  background-color: rgb(0, 0, 0);
  padding-bottom: 30px;
  border-radius: 20px;
  border: white solid 3px;
}

#seleccionar-mascota{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo{
  color: rgb(255, 255, 255);
  border-radius:  15px;
  padding: 15px;
  margin:30px 0 50px 0;
  font-size: 80px;
  border: white solid 3px;
}

.subtitulo{
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-bottom: 40px;
}

.tarjetas{
  display: flex;
  gap: 20px;
  width: 85%;
}

.tarjeta-de-mokepon{
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 20px;
  color:white;
  border: white solid 3px;
}

.tarjeta-de-mokepon:hover {
  cursor: pointer;
}

.tarjeta-de-mokepon p{
  font-size: 20px;
  margin-bottom: 10px;
}

.tarjeta-de-mokepon img{
  width: 70%;
}

#boton-mascota{
  margin: 15px;
  width: 20%;
  padding: 5px;
  border-radius: 20px;
  background: transparent;
  border: 3px solid red;
  color:white;
  font-family: 'Fredoka One', cursive;
  font-size: 20px;
}

#boton-mascota:hover {
  cursor: pointer;
}

#seleccionar-ataque{
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque{
  background-color: transparent;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-color: transparent;
  width: 100px;
  color: white;
  margin: 0 10px;
  font-family: 'Fredoka One', cursive;
  border: white solid 3px;
}

.boton-de-ataque:hover{
  cursor: pointer;
}

.vidas{
  color: white;
  border: white solid 2px;
  padding: 5px;
  border-radius: 8px;
  margin-top: 20px;
}

#mensajes{
  color: white;
  margin: 25px 0;
}

#mensajes-dos{
  color: white;
  margin-bottom: 30px;
  padding: 10px;
  border: rgb(0, 255, 55) solid 2px;
  border-radius: 10px;
  font-size: 30px;
}

#boton-reiniciar{
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-color: transparent;
  width: 100px;
  color: white;
  font-family: 'Fredoka One', cursive;
  border: red solid 3px;
}

#boton-reiniciar:hover {
  cursor: pointer;
}
